@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css");


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-size: 0.9rem;
}
p{
  margin: 0;
}
a{
  text-decoration: none;
}

.page{
  padding-inline: 0;
  /* border: 1px solid red; */
}


.title-small {
  font-size: 1.5rem;
}

.title-big {
  font-size: 2rem;

}
.project-container{
  width: 100%;
  height: 100%;
}
.homepage-body {
  width: 100%;
  display: grid;
  gap: 1rem;
}

.home-image-container>img{
width: 100%;
height: 90vh;
border-radius: 10px;
}

/* .home-form-container{
    max-width: 500px;

} */

.form{
    /* border: 1px solid blue; */
    display: grid;
    gap: 1rem;
    margin-inline: auto;
    padding: 10px;
}


.add-menus button{
border: none;
}



.service-wrapper{
  display: flex;
  flex-direction: column;

}


/* cart item page */

.total-check-out{
  background-color: blanchedalmond;
  position: sticky;
  top: 0px;
  left: 0px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  padding: 5px;
  z-index: 1;
}
.cart-page{
width: 100%;
position: relative;
}
.cart-items-container { 
  padding: 10px; 
  display: grid;
  overflow-y: scroll;
  scrollbar-width: none;
  grid-template-columns: repeat(auto-fit, minmax(150px, 260px));
  justify-content: center;
  gap: 10px;
  /* border: 2px solid green; */
 
}

.cart-items-container::-webkit-scrollbar {
  display: none;
}
.cart-item-wrapper{ 
 
  height: 150px;
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(50px, 120px));
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 20px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  /* margin-inline: 10px; */
}
.cart-item-wrapper > img{
  width: 120px;  
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 10px;
}

.name-quantity-wrapper{  
/* padding-inline: 10px; */
}
.qty-btns{
  /* border: 5px solid brown; */
  /* width: 100%; */
}


.booking-wrapper{
  border: 2px solid grey;
  display: flex;
  flex-direction: column;
}

.booking-wrapper>div:last-child{
justify-self: flex-end;
}

.service-category-container{
  width: 100%;
}


/*media queries*/



@media screen and (max-width:576px){
  .home-image-container{
    display: none;
  }
  
}

@media screen and (min-width:576px) {
  .homepage-body {
     grid-template-columns: 1fr 500px;
     align-items: start;    
    }
}

