.user-page-container{
    width: 100vw;
    height: 100vh;
    /* border: 2px solid red; */
}

.user-page-container .header{
    width: 100%;
    height: 60px;
    /* border: 2px solid blue; */
}
.user-page-container .footer{
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    /* border: 2px solid green; */
}

.body{
    width: 100%;
    height: calc(100vh - 120px);  
    overflow: scroll;   
    scrollbar-width: none; 
    /* border: 2px solid yellow; */
    
    /* for firefox */
}
.user-page-container .body::-webkit-scrollbar {
    display: none; /*for chrome */
  
}

.drop-down-container{  
    border-radius: 5px;
    padding: 2px 4px;
    box-shadow: 2px 6px 21px -2px rgba(0, 0, 0, 0.75);
    min-width: 100px;
    z-index: 10;
    /* border: 2px solid brown; */
}

.drop-down-item{
    font-size: 16px;
    padding: 5px 8px;
}
.drop-down-item:hover{
   background-color: #1975d2;
   color: #fff;
   font-weight: bold;
   cursor: pointer;
}
.username{
    font-size: 14px;
    font-weight: bold;
}

.profile-container{
    cursor: pointer;
}

/* new booking */


.booking-page{
    width: 100%;
}

.service-categories-container{
width: 100%;
display: grid;
grid-template-columns:  repeat(auto-fit,minmax(60px, 100px)) ;
gap: 20px;

justify-content: center;
/* border: 2px solid red; */
}
.service-category-wrapper{
    background-color: #1975d2;
    border-radius: 10px;
    cursor: pointer;

    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    padding-inline: 10px;
}
.service-category-wrapper:hover {
    outline: 2px solid yellow;
   
}

.service-category-wrapper:hover>p {
    font-weight: bold;
    font-size: 16px;
    color: yellow;
}
.categoryName{
    line-height: 0.9;
    color: #fff;
}
/* services */
.services-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 120px));
    justify-content: center;
   gap: 25px;
   
}

.service-wrapper {
    background-color: #1975d2;
    border-radius: 10px;
    cursor: pointer;

    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    padding-inline: 10px;
}

.service-wrapper:hover {
    outline: 2px solid yellow;

}

.service-wrapper:hover>p {
    font-weight: bold;
    font-size: 16px;
    color: yellow;
}

.serviceName {
    line-height: 0.9;
    color: #fff;
}

.services-selection-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.description-container{
    width: 100%;  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* border: 2px solid red; */
}

.description-input{
   width: 350px;
}

/* workshop Selection */
.workshop-selection-page{
    width: 100%;
    
    /* border: 2px solid blue; */
}
.workshop-name{
    font-size: 16px;
    font-weight: bold;
    color: #1975d2;
}
.workshop-mobile {
    font-size: 16px;
    font-weight: bold;
    color: rgb(166, 25, 48);
}
.workshops-container {
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 300px)); 
    justify-content: center;
    gap: 15px;  
    /* border: 2px solid red; */
}

.workshop-wrapper{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
   
}

.workshop-wrapper:hover {
    outline: 2px solid green;
    /* font-size: 16px; */
   }

.selectedShop{
    outline: 2px solid green;
   }

   /* allbookingspage */
   .booking-wrapper{
    box-shadow: 2px 6px 10px -2px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
   }

   .bookings-container{
    display: grid;
    gap: 10px;  
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    justify-content: center;
 }
 .section{
    display: flex;
    justify-content: space-between;
 }
 .section2{
    border-top: 2px solid #1975d2;
    border-bottom: 2px solid #1975d2;
 }
/* support page */

.support-body-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.customer-care-wrapper{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
        justify-content: center;
        align-items: center;
}

.office-care-wrapper{
    display: grid;
        gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
        justify-content: center;
}

.title-wrapper{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
/* .phone-wrapper,content{
   
} */
.office-care-wrapper .section{
    display: flex;
        flex-direction: column;
    border-radius: 10px;
    background-color: aqua;
    padding: 10px;
}

/* dashboard page */
.user-dashboard-page{
    width: 100%;
    height: 100%;
}

/* profile */

.view-profile-container{
    max-width: 300px;
    margin-inline: auto;
    font-size: 16px;
}

.profile-edit-form-container {
    max-width: 300px;
    margin-inline: auto;
   
}