.pc-footer,.mobile-footer-menus-container{ 
    box-shadow: 0 -2px 3px 1px rgba(0, 0, 0, 0.5);
    border-top-right-radius: 20px ;
    border-top-left-radius: 20px;
}
.workshop-page-container {
    width: 100vw;
    height: 100vh;
    /* border: 2px solid red; */
}
.workshop-page-container .header {
    width: 100%;
    height: 60px;
    /* border: 2px solid blue; */
}
.workshop-page-container .footer {
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    /* border: 2px solid green; */
}

.workshop-page-container .body {
    width: 100%;
    height: calc(100vh - 120px);

    overflow: scroll;
    scrollbar-width: none;
    /* border: 2px solid yellow; */
    /* for firefox */
}

.workshop-page-container .body::-webkit-scrollbar {
    display: none;
    /* for chrome */
}

/* allbookings */

.workshop-page-container .booking-wrapper {
       box-shadow: 2px 6px 4px -2px rgba(0, 0, 0, 0.5) ,0px -3px 5px -2px rgba(0, 0, 0, 0.5);
       border-radius: 10px;
   }

   .selectedShop{
    border: 5px solid blue;
   }
 .all-bookings-page .bookings-container {
             display: grid;
             gap: 15px;
             grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
             justify-content: center;  

             /* border:2px solid red;          */
 }
 .booking-wrapper:hover{
    outline: 2px solid green;
    background-color: rgb(201, 217, 252);
 }

.count-cards-container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,minmax(100px,100px));
    gap: 5px;
    
}
.booking-count-card-wrapper{
    cursor: pointer;
    display: grid;
}
.booking-count-card-wrapper:hover p {
font-weight: bold;
}
.booking-count{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.refresh-button-wrapper{
    display: flex;
    justify-content: flex-end;
}

.statuses-container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
    gap: 5px;
}

 .workshop-page-container .filtered-bookings-container {
     display: grid;
     gap: 20px;
     grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
     justify-content: center;
     margin-bottom: 20px;
 }
 .doughnut-chart{
    max-width: 300px;
    margin-inline: auto;
 }

 /* profile */

 .view-profile-container {
     max-width: 300px;
     margin-inline: auto;
     font-size: 16px;
    /* border: 2px solid red; */
 }

 .profile-edit-form-container {
     max-width: 300px;
     margin-inline: auto;

 }